.login_page {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.container {
    display: flex;
    background-color: rgba(0, 115, 230, 0.3);
    position: relative;
    height: 72vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    width: 52vw;

}

.input {
    border: none;
    border-radius: 10px;
    width: 80vw;
    height: 9.5vh;
    padding: 10px;
    background-color: #0073E64D;
    text-align: center;
    font-size: 2em;
    color: black;
}

.btn {
    background-color: rgba(0, 115, 230, 1);
    height: 9vh;
    width: 12vw;
    margin: 0.8vw;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: red;
    transform: scale(1.05);
}

input::placeholder {
    color: rgba(0, 115, 230, 1);
    font-family: 'Cabin', sans-serif;
}

.alert {
    font-size: 2vh;
}