.login_page {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.container {
    display: flex;
    background-color: rgba(0, 115, 230, 0.3);
    position: relative;
    height: 72vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 50%;
    gap: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    width: 52vw;
    top: -70px;
}

.input {
    border: 2px solid #0121414d;
    border-radius: 10px;
    width: 80vw;
    height: 9.5vh;
    padding: 10px;
    background-color: #0073E64D;
    font-size: 36px;
    text-align: center;
    font-size: 2.8em;
}

.btn {
    background-color: rgba(0, 115, 230, 1);
    width: 200px;
    height: 64px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: red;
    transform: scale(1.1);
}

.login_link {
    text-decoration: none;
}

input::placeholder {
    color: rgb(95, 95, 193);
}

.alert {
    font-size: 2vh;
}