.home_page {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}



.top_box {
    background-color: rgba(0, 115, 230, 0.25);
    width: 84vw;
    height: 11vh;
    border-radius: 10px;
    position: relative;
    margin-top: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 2.6vw;
    margin: 40px;
    color: black;
}

.right_box {
    width: 24vw;
    height: 8.5vh;
    background-color: rgba(0, 115, 230, 0.3);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.right_text {
    margin: 10px;
    font-size: 2vh;
    font-weight: bold;
}

.middle {
   position: relative;
   /* height: 12vw; */
   display: flex;
   align-items: center;
   justify-content: center;
   /* flex-wrap: wrap; */
}

.button {
    background-color: rgb(110, 169, 228);
    height: 6vh;
    width: 8vw;
    margin: 0.8vw;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.text_p {
    white-space: nowrap;
}
